binder/
guidelines.md
*.pdb
*.edr
*.log
*.trr
*.swp
*.xvg
*.offsets
*.cpt
*.txt
*.outputs
*.err
*.out
*.ndx
biobb_wf_pmx_tutorial/notebooks/*.dat
biobb_wf_pmx_tutorial/notebooks/*.gro
*.itp
!biobb_wf_pmx_tutorial/notebooks/pmx_tutorial/mutff45/amber99sb-star-ildn-mut.ff/*.itp
!biobb_wf_pmx_tutorial/notebooks/pmx_tutorial/mutff45/amber99sbmut.ff/*.itp
!biobb_wf_pmx_tutorial/notebooks/pmx_tutorial/mutff45/charmm22starmut.ff/*.itp
!biobb_wf_pmx_tutorial/notebooks/pmx_tutorial/mutff45/charmm36mut.ff/*.itp
!biobb_wf_pmx_tutorial/notebooks/pmx_tutorial/mutff45/oplsaamut.ff/*.itp
biobb_wf_pmx_tutorial/notebooks/*.zip
biobb_wf_pmx_tutorial/notebooks/*.tpr
biobb_wf_pmx_tutorial/notebooks/*.xtc
*.top
log.*
.ipynb_checkpoints/
biobb_wf_pmx_tutorial/notebooks/*.png
!biobb_wf_pmx_tutorial/notebooks/schema.png
!biobb_wf_pmx_tutorial/notebooks/logo.png
biobb_wf_pmx_tutorial/notebooks/*.gif
biobb_wf_pmx_tutorial/notebooks/*.web.ipynb
biobb_wf_pmx_tutorial/notebooks/*.docs.ipynb
*.old.ipynb
*.bk.ipynb
\#*\#